---
import '../styles/global.css'
import Layout from '../layouts/Layout.astro';
import Hero from '../components/hero.astro';
---

<Layout titre="Accueil">
    <Hero H1="Acceuil" />
    <div class="flex gap-5 py-7 px-10">
        <a href="/offres" class="inline-block mb-8 bg-cyan-700 py-3 px-6 text-white rounded-lg font-semibold">
            Découvrez nos offres
        </a>
        <a href="/offres/add" class="inline-block mb-8 bg-cyan-700 py-3 px-6 text-white rounded-lg font-semibold">
            Ajoutez une offre
        </a>
    </div>
</Layout>