<footer class="bg-cyan-950 text-white py-6"> 
    <nav class="flex flex-col gap-1.5 text-center">
        <a class="mt-5" href="/">Accueil</a>
        <hr class="bg-gray-600 mx-5" />
        <a href="/offres">Offres</a>
        <hr class="bg-gray-600 mx-5" />
    </nav>
    <p class="text-center mt-4">
        site réalisé dans le cadre d'un exercise pédagogique 
        <br/>
        au sein du département MMI de 
        <span>
            <a class="text-cyan-500" href="https://www.iut-nfc.univ-fcomte.fr/b-u-t-metiers-du-multimedia-et-de-linternet/">
                Montbéliard
            </a>
        </span>
    </p>
    <p class="text-center mt-8">
            ©Luna Gouraud MMI 1
    </p>
</footer>