<div> 
    <nav>
        <a href="/">Accueil</a>
        <a href="/offres">Offres</a>
        
    </nav>
    <p>
        site réalisé dans le cadre d'un exercise pédagogique au sein du département MMI de 
        <span>
            <a class="text-violet-600" href="https://www.iut-nfc.univ-fcomte.fr/b-u-t-metiers-du-multimedia-et-de-linternet/">
                Montbéliard
            </a>
        </span>
    </p>
    <p>
            Luna Gouraud MMI 1
    </p>
</div>