---
import '../../styles/global.css'
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/hero.astro';
import OffreCards from '../../components/offreCards.astro';
import { getOffres } from '../../backend.mjs';
    const offres = await getOffres();
   
---

<Layout titre="Offres">
    <Hero H1="Offres" />
    <div class="p-8 bg-gray-50 min-h-screen">
        <a href="../offres/surface/[id]surface.astro" class="inline-block mb-8 bg-cyan-700 py-3 px-6 text-white rounded-lg font-semibold">
            Voir les maisons supérieur à 80 m2
        </a>
        <button id="favori-button" class="mb-8 bg-gray-500 rounded-lg text-white px-6 py-3 font-semibold transition-colors">Afficher les favoris</button>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            { offres.map((offre) => (
                <div class="offre" data-favori={offre?.favori ? "true" : "false"}>
                    <OffreCards offre={offre} />
                </div>
            ))}
        </div>
    </div>
<script>
    const button = document.getElementById('favori-button');
    let showOnlyFavorites = false;
    
    button?.addEventListener('click', () => {
        showOnlyFavorites = !showOnlyFavorites;
        const offres = document.querySelectorAll('.offre');
        
        offres.forEach(offre => {
            const element = offre as HTMLElement;
            const isFavori = element.dataset.favori === 'true';
            
            if (showOnlyFavorites) {
                element.style.display = isFavori ? 'block' : 'none';
                button.textContent = 'Afficher tout';
            } else {
                element.style.display = 'block';
                button.textContent = 'Afficher les favoris';
            }
        });
    });
</script>
</Layout>