---
import { OneAgent } from '../../backend.mjs';
import Layout from '../../layouts/Layout.astro';

const { id } = Astro.params;
const agent = await OneAgent(id);
---

<Layout>
    <div class="rounded-lg shadow-md overflow-hidden h-full flex flex-col transition-colors border px-5 py-3 mt-8">
    {
    agent && (
        <div>
            <ul>
                <li>
                    {agent.Prenom} {agent.Nom}
                </li>
                <li>
                    adresse mail : {agent.email}
                </li>
            </ul>
        </div>
    )
    }
</div>
</Layout>