---
import { allAgent } from '../../backend.mjs';
import Layout from '../../layouts/Layout.astro';

const { id } = Astro.params;
const agent = await allAgent(id);
---

<Layout>
    <div class="rounded-lg shadow-md overflow-hidden h-full flex flex-col transition-colors border">
    {
    agent.map((Agent) => (
    <div >
        <ul>
            <li>
                {Agent.Prenom} {Agent.Nom}
            </li>
            <li>
                {Agent.email}
            </li>
            <li>
                
            </li>
        </ul>
        </div>
    ))
    }
</div>
</Layout>