---
import Layout from "../../layouts/Layout.astro";
import CardA from "../../components/Card_agent.astro";
---

<Layout titre="Agent">
    <p class="px-4 py-3">Voiçi la liste de nos agents.</p>
    <CardA/>
</Layout>